<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TITLE</title>
<link href="{{site.baseurl}}/css/default.css" rel="stylesheet" type="text/css" title="Style">
<script type="text/javascript" src="{{site.baseurl}}/assets/js/javascripts/hello.js" ></script>
</head>
<body style="background-image:url({{site.baseurl}}/png/gtmb.png)">
<div id="container">
  <header id="header">
    <h1>DEMO LAYOUT</h1>
  </header>
  <nav id="navbar">
    <ul>
      <li class='listitem'><a href='{{site.baseurl}}/'>HOME</a>
      </li>
      <li class='listitem'><a href='{{site.baseurl}}/0/'>NAVBAR 0</a>
      </li>
    </ul>
  </nav>
  <aside id="menu">
    <h2>ASIDE</h2>
  </aside>
  <section id="maincontent">
     {{ content }}
  </section>
  <footer id="footer">
    Footer
  </footer>
</div>
</body>
</html>
