<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TITLE</title>
<link href="{{site.baseurl}}/css/default.css" rel="stylesheet" type="text/css" title="Style">
<script type="text/javascript" src="{{site.baseurl}}/assets/js/javascripts/hello.js" ></script>
</head>
<body>
<div id="container">
  <header id="header">
    <h1>H1H1</h1>
  </header>
  <nav id="navbar">
    <ul>
      <li class='listitem'><a href='/'>HOME</a>
      </li>
      <li class='listitem'><a href='/navbar2'>NAVBAR2</a>
      </li>
    </ul>
  </nav>
  <aside id="menu">
    <h2>ASIDE</h2>
  </aside>
  <section id="maincontent">
    Welcome MAIN
  </section>
  <footer id="footer">
    Footer
  </footer>
</div>
</body>
</html>
