<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="author" content="Rahmat M. Samik-Ibrahim" >
    <meta name="copyright" content="1996-2021">
    <meta name="description" content="Description">
    <meta name="keywords" content="VauLSMorg, RMS46, Samik-Ibrahim">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css" title="Style">
    <style>
    body {
        background-color: #1A1A1A;
        color: #FFFFFF;
    }
    table {
        border: 0;
        width: 80%;
    }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89852122-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-89852122-6');
    </script>
</head>
<body>
{{ content }}
<table>
<tr>
<td>
&copy; 1996-2021;
Hak cipta berkas-berkas di repositori ini tetap ditangan masing-masing 
pengarang atau/ dan produsernya.
Kami 
TIDAK bertanggung-jawab atas KEAKURATAN mau pun KERUGIAN 
yang mungkin terjadi akibat memanfaatkan situs ini.
HARAP MENANGGUNG SENDIRI SEGALA RISIKO!
Jangan lupa mengungkapkan/ menuliskan penghargaan (<em>acknowledgement</em>)
jika anda menggunakan bahan karya dari pihak lain.
KONTAK: XXX
<p>
File Revision: 00---04-Jan-2021.
</table>
</body>
</html>

